<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shsxt.crm.dao.CustomerServeDao" >
  
 
  <insert id="insertNewServe" parameterType="customerServe" >
    insert into t_customer_serve (serve_type, overview, 
      customer, state,service_request, create_people, is_valid, 
      update_date, create_date)
    values ( #{serveType}, #{overview}, 
      #{customer}, #{state}, #{serviceRequest}, 
      #{createPeople}, #{isValid}, 
      #{updateDate}, #{createDate})
  </insert>
  
  <select id="querycCustomerServes" parameterType="customerServeQuery"  resultType="customerServe">
  
  SELECT id, serve_type as serveType, overview, 
      customer, state,service_request as serviceRequest, create_people as createPeople,
      assigner,  assign_time as assignTime, service_proce as serviceProce, service_proce_people as serviceProcePeople, 
      service_proce_time as serviceProceTime,service_proce_result as serviceProceResult, myd, update_date as updateDate,
       create_date as createDate from t_customer_serve WHERE is_valid=1 and state = #{state}
  </select>
 
 
  <update id="updateServeState" parameterType="customerServe" >
    update t_customer_serve
    <set >
      <if test="state != null" >
        state = #{state},
      </if>
      <if test="assigner != null" >
        assigner = #{assigner},
      </if>
      <if test="assignTime != null" >
        assign_time = #{assignTime},
      </if>
      <if test="serviceProce != null" >
        service_proce = #{serviceProce},
      </if>
      <if test="serviceProcePeople != null" >
        service_proce_people = #{serviceProcePeople},
      </if>
      <if test="serviceProceTime != null" >
        service_proce_time = #{serviceProceTime},
      </if>
      <if test="serviceProceResult != null" >
        service_proce_result = #{serviceProceResult},
      </if>
      <if test="myd != null" >
        myd = #{myd},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate},
      </if>
    </set>
    where is_valid=1 and id = #{id}
  </update>
  
  <update id="updateByPrimaryKey" parameterType="customerServe" >
    update t_customer_serve
    set serve_type = #{serveType,jdbcType=VARCHAR},
      overview = #{overview,jdbcType=VARCHAR},
      customer = #{customer,jdbcType=VARCHAR},
      state = #{state,jdbcType=VARCHAR},
      service_request = #{serviceRequest,jdbcType=VARCHAR},
      create_people = #{createPeople,jdbcType=VARCHAR},
      assigner = #{assigner,jdbcType=VARCHAR},
      assign_time = #{assignTime,jdbcType=TIMESTAMP},
      service_proce = #{serviceProce,jdbcType=VARCHAR},
      service_proce_people = #{serviceProcePeople,jdbcType=VARCHAR},
      service_proce_time = #{serviceProceTime,jdbcType=TIMESTAMP},
      service_proce_result = #{serviceProceResult,jdbcType=VARCHAR},
      myd = #{myd,jdbcType=VARCHAR},
      is_valid = #{isValid,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      create_date = #{createDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>